.container {
    width: 70%;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.main-heading {
    margin: 0px auto;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
}

.group-list {
    width: 30%;
    background-color: #f2f2f2;
    padding: 15px;
    border-right: 1px solid #ccc;
}

.group-list ul {
    list-style-type: none;
    padding: 0;
}

.group-list ul li {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#para {
    width: 68%;
    padding: 20px;
    padding-bottom: 50px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.input-chat {
    background-color: rgb(151, 230, 151);
    margin: 20px 0;
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0;
}

.input-chat form {
    display: flex;
    justify-content: space-between;
}

#msg {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#chats p {
    width: 100%;
    padding: 5px 10px;
    margin: 0px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

#userLogged {
    margin-bottom: 10px;
}

#userLogged p {
    width: 100%;
    padding: 5px 10px;
    margin: 0px;
    background-color: #93fc74;
    border-radius: 5px;

}

#chats p:nth-child(odd) {
    background-color: rgb(230, 248, 150);
}